<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
    <!-- Custom Theme Style -->
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <a href="/tasks/new" class="btn btn-outline-success my-2 my-sm-0">Adicionar Task</a>
</nav>