<!-- =================== Header =================== -->
<%  include ./partials/header %>
<!-- =================== /Header =================== -->


<div class="container top-margin ">
    <div class="row">
        <div class="col text-center">
            <h6>Você precisa estar logado para acessar o Dashboard</h6>
            <a  href="/auth/google">
                <button class="loginBtn loginBtn--google">
                    Login with Google
                </button>
            </a>
        </div>
    </div>
</div>


<!-- =================== Footer =================== -->
<% include ./partials/footer %>
<!-- =================== /Footer =================== -->